<div class="modal-header m-header text-center" style="padding-top: 0px; padding-bottom: 0px;">
    <h4 class="modal-title h-title w-100"> {{titleModal}}</h4>
    <span (click)="Dismiss()" aria-hidden="true" style="font-size: 25px;">&times;</span>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="AddForm">       
      <div class="row">
        <div class="col-md-6">
          <label class="col-md-10 require">Short name</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.shortName.errors }"
             formControlName="shortName" placeholder="input...">
             <div *ngIf="submitted && checkvalue.shortName.errors" class="invalid-feedback">
              <div *ngIf="checkvalue.shortName.errors.required">
                This field is not bank !
              </div>
          </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-10 require">Member</label>
              <input type="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.member.errors }"
               formControlName="member" placeholder="input...">
               <div *ngIf="submitted && checkvalue.member.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.member.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Native name</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.nativeName.errors }"
               formControlName="nativeName" placeholder="input...">
            <div *ngIf="submitted && checkvalue.nativeName.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.nativeName.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Image</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.image.errors }"
               formControlName="image" placeholder="input...">
            <div *ngIf="submitted && checkvalue.image.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.image.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Description</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.description.errors }"
               formControlName="description" placeholder="input...">
            <div *ngIf="submitted && checkvalue.description.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.description.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-10 require">Facility</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.facility.errors }"
               formControlName="facility" placeholder="input...">
            <div *ngIf="submitted && checkvalue.facility.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.facility.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-10 require">Phone</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.phone.errors }"
               formControlName="phone" placeholder="input...">
            <div *ngIf="submitted && checkvalue.phone.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.phone.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Director</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.director.errors }"
               formControlName="director" placeholder="input...">
            <div *ngIf="submitted && checkvalue.director.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.director.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <button type="button" class="btn btn-md btn-outline-success" (click)="onSubmit()">
        <i class="fa-plus-circle fas"></i> Save
      </button>
      <button type="button" class="btn btn-md btn-outline-danger" (click)="Dismiss()"
        style="margin-left: 1em;">
        <i class="far fa-times-circle"></i> Close
      </button>
    </div>
  </div>