<div class="modal-header m-header text-center" style="padding-top: 0px; padding-bottom: 0px;">
    <h4 class="modal-title h-title w-100"> {{titleModal}}</h4>
    <span (click)="Dismiss()" aria-hidden="true" style="font-size: 25px;">&times;</span>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="AddForm">       
      <div class="row">
        <div class="col-md-12">
          <label class="col-md-10 require">Code</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.code.errors }" formControlName="code" readonly>
             <div *ngIf="submitted && checkvalue.code.errors" class="invalid-feedback">
              <div *ngIf="checkvalue.code.errors.required">
                This field is not bank !
              </div>
          </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Message</label>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.message.errors }" formControlName="message">
               <div *ngIf="submitted && checkvalue.message.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.message.errors.required">
                  This field is not bank !
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Name</label>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.name.errors }" formControlName="name">
               <div *ngIf="submitted && checkvalue.name.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.name.errors.required">
                  This field is not bank !
               </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">Amount</label>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.amount.errors }" formControlName="amount">
               <div *ngIf="submitted && checkvalue.amount.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.amount.errors.required">
                  This field is not bank !
               </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-10 require">To account</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalue.to_account.errors }" formControlName="to_account">
            <div *ngIf="submitted && checkvalue.to_account.errors" class="invalid-feedback">
                <div *ngIf="checkvalue.to_account.errors.required">
                    This field is not bank !
                </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <button type="button" class="btn btn-md btn-outline-success" (click)="onSubmit()">
        <i class="fa-plus-circle fas"></i> Save
      </button>
      <button type="button" class="btn btn-md btn-outline-danger" (click)="Dismiss()"
        style="margin-left: 1em;">
        <i class="far fa-times-circle"></i> Close
      </button>
    </div>
  </div>