<div class="modal-content">
    <div class="modal-body">
        <div class="icon-box">
            <i class="fas fa-trash-alt"
                style="color: #f15e5e;font-size: 46px;display: inline-block;margin-top: 13px;"></i>
        </div>
        <p
            style="color: inherit; text-decoration: none;font-size: 20px; text-align: center; font-weight: 600; margin-top: 1em;">
            Are you sure you want to delete ?
        </p>
        <div class="text-center">
            <button type="button" class="btn btn-md btn-outline-success" (click)="Delete()" >
                Confirm
            </button>
            <button type="button" class="btn btn-md btn-outline-danger" (click)="Dismiss()" style="margin-left: 1em;">
                Cancel
            </button>
           
        </div>
    </div>
</div>